<html>
<head>
	<meta charset="UTF-8">
	<title>趣闻-管理登录</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">

    <link rel="stylesheet" href="./css/font.css">
	<link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script src="./js/api/api.js" type="module"></script>
    <script src="./js/utils/util.js" type="module"></script>
    <script src="./js/service/login.js"type="module"></script>


</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">趣闻-管理登录</div>
        <div id="darkbannerwrap"></div>
        
        <form class="layui-form login-form">
            <input name="username" placeholder="用户名" lay-verify="required"  type="text" class="layui-input" >
            <hr class="hr15">
            <input name="password" placeholder="密码"  lay-verify="required" type="password" class="layui-input">
            <hr class="hr15">
            <input id="login" class="layui-btn" value="登录"  style="width:100%;">

            <hr class="hr20" >
        </form>
    </div>

</body>
</html>
